<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insertar Usuario</title>
</head>
<body>
    <h2>Actualizar Usuario</h2>
    <form action = "/actualizado">
        <label for="ID">ID:</label>
        <input type="text" name="ID" required><br>
        <label for="name">Nombre:</label>
        <input type="text" name="name" required><br>
        <label for="age">Edad:</label>
        <input type="number" name="age" required><br>
        <label for="gender">Genero: (M/F)</label>
        <input type="text" name="gender" required><br>
        <label for="current_salary">Salario Actual:</label>
        <input type="number" name="current_salary"><br>
        <label for="weeks_worked">Semanas Laboradas:</label>
        <input type="number" name="weeks_worked" required><br>
        <label for="current_pension_savings">Ahorro Pensional Actual:</label>
        <input type="number" name="current_pension_savings" required><br>
        <label for="average_return">Rentabilidad Promedio:</label>
        <input type="number" name="average_return" required><br>
        <label for="management_rate">Tasa Administración:</label>
        <input type="number" name="management_rate" required><br>
        <button type="submit">Actualizar</button>
    </form>
    <a href="/">Volver al inicio</a>
</body>
</html>