<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/calcular_pension">
        <div>
            Años: <input type="number" name="age" />
        </div>
        <div>
            Genero: <input type="text" name="gender" />
        </div>
        <div>
            Salario: <input type="number" name="current_salary" />
        </div>
        <div>
            Semanas Trabajadas: <input type="number" name="weeks_worked" />
        </div>
        <div>
            Ahorro pensional actual: <input type="number" name="current_pension_savings" />
        </div>
        <div>
            Rentabilidad: <input type="number" name="average_return" />
        </div>
        <div>
            Tasa: <input type="number" name="management_rate" />
        </div>

        <input type="submit" value="Calcular Pension" />
    </form>
</body>

</html>